# Делаем публичными необходимые методы для работы с сетью
public net.minecraft.network.protocol.common.custom.CustomPacketPayload
public net.minecraft.network.protocol.PacketFlow
public net.minecraft.network.ConnectionProtocol
public net.minecraft.network.protocol.common.ServerboundCustomPayloadPacket <init>(Lnet/minecraft/network/protocol/common/custom/CustomPacketPayload;)V 